@media (min-width: 768px){
    .pt-md-1-8rem, .py-md-5 {
        padding-top: 1.8rem!important;
    }
    .w-md-50{
        width: 50%!important;
    }
}
.input-search-container{
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
}
.method-container{
    height: 20px; width: 35px; background-color: white; border-radius: 3px; border: 1px solid gray;
}
.yb-radio-container{
    cursor: pointer; border-radius: 20px; padding: 2px; height: 20px; width: 20px; border: 2px solid gray;
}
.yb-radio-inner{
    border-radius: 20px; height: 12px; width: 12px; background-color: transparent;
}
.yb-radio-inner.active{
    background-color: #0CB6E1!important;
}
.header-yb{
     min-height: 3.5em;
}
.main-yb{
    margin-top: 3.5em;
    min-height: calc(100vh - 3.5em - 3.2em);
}
.footer-yb{
    min-height:  3.2em;
}
.list-scroll-yb:hover{
    background-color: rgba(0,0,0,.075);
}
.ps{
    height: 24em;
    margin-right: -1rem!important;
    margin-left: -1rem!important;
}
.sidenav {height: calc(100% - 3.5em);width: 350px;position: fixed;z-index: 1031;bottom: 0;right: 0;overflow-x: hidden;transition: 0.3s;
}
.sidenav-hided {width: 0px;padding: 0 !important;}
.qr-container{background-color: #7d7d7d; height: 20em;}
.qr-code{height: 12em; width: 12em;}
.textarea-yb{border: 1px solid #dee2e6;}
.logo-form-yb{width: 160px;margin-left: auto;margin-right: auto;display: block;}
.avatar-yb{width: 35px; height: 35px; border-radius: 35px; object-fit: cover;}
.avatar-2-yb{width: 65px; height: 65px; border-radius: 65px; object-fit: cover; border: 2px solid #0CB6E1; padding: 2px;}
.btn-sm-yb {width: 10.5em; height: 2.5em; font-size: 0.8em;}
.appearance-none{-webkit-appearance: none;appearance: none;-moz-appearance:none;}
.border-bottom-yb{border-bottom: 1px solid #dee2e6;}
.mh-form-yb{min-height: calc(100vh - 11em)!important; }
.input-search-yb {border:none;font-size: 65%;outline:none;}
.tr90{transform: rotate(90deg);}
.tr-90{transform: rotate(-90deg);}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
}
.list-scroll-yb{
    padding: .75rem 0;
    vertical-align: top;
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
  }
.small-text-50 {font-size: 50%; font-weight: 400;}
.small-text-65 {font-size: 65%; font-weight: 400;}
.bg-gray-yb{background-color: #f0f2f5 !important;}
.nav-card-yb .nav-link{ color: #000; margin-right: 1em;}
.nav-card-yb .nav-link:hover, .nav-card-yb  .nav-link.active{ font-weight: bold; border-bottom: 3px solid #0CB6E1;}
.text-info{ color: #0CB6E1!important; }
.card-yb{ max-width: 600px; width: 500px; padding: 30px 50px; background: #fff; }
.shadow-yb{ background: #FFFFFF; box-shadow: 0 2px 4px 0 rgba(218,217,217,0.50); border-radius: 2px; border-radius: 2px; }
.vh-100-yb{ height: calc(100vh - 120)!important; }
.color-ocean-yb, .color-ocean-yb:hover{ color: #0CB6E1; }
.background-ocean-yb, .background-ocean-yb:hover{ background: #0CB6E1; border-color: #0CB6E1; }
.btn-info{background: #0CB6E1; box-shadow: 0 0 5px 0 #0CB6E1; border-radius: 2px; border-radius: 2px; border-color: #0CB6E1; }
.card-yb-title{ font-size: 18px; color: #000000; text-align: center; }
html, body{ height: 100%; background: rgba(0, 0, 0, .009); }
.color-yb-blue-alert{color:#0abee5;}.color-yb-red-alert{color:#ff1948;}.color-yb-orange-alert{color:#f6b027;}
.color-yb-blue{color:#0abee5;}.color-yb-red{color:#ff1948;}.color-yb-orange{color:#f6b027;}.color-yb-green{color:#89d924;}.color-yb-bluedark{color:#1a3996;}.color-yb-purple{color:#c50ce4;}.color-yb-violet{color:#6d3cff;}.color-yb-grey{color:#b8b8b8;}.color-yb-black{color:#000;}.color-yb-rose{color:#ee19a5}
